<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "../css/style.css">
    <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
</head>
<body>
  

    <div class="parent">

<h1>Welcome Back!!</h1>

<form id="veer">
<div class="input-box">
<input type="text" name="nawa" placeholder="Username" required>

</div>

<div class="input-box">
    <input type="password" name="pwd" placeholder="Password" required>
   
    </div>

    <div class="remo">

        <label class="rem"><input type="checkbox">Remember me</label>
     
        <a href="##">Forgot Password?</a>

    </div>


<div>
    <button type="submit" class="btn">Login</button>
</div>


</form>

<p id="hello"></p>



<div class="create">
<p >Don't have an account? <a href="http://localhost:4000/signup"> Create</a></p>


    </div>

    

 <script>

const hello = document.getElementById('veer').addEventListener('submit' , async(e)=>{
   e.preventDefault()
   const name = e.target.nawa.value;
   const password  = e.target.password.value;
  
        const sumbit = async()=>{
        
        const transfer = await fetch("http://localhost:4000/login" , {
            method: "POST",
            headers: {
                  "Content-type" : "application/json"
            } ,
            body: JSON.stringify({
                name: name,
                password: pwd
            })

        }) 
        const data = await transfer.json();
        document.getElementById('hello').textContent = `Data is ${data.name}`
    } 
  return  sumbit()
  console.log("HELLo")

})

hello();
    
</script>
    
</body>




</html>