<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body class="haha">
    <section class="main">
      <!-- <h1>MY CSS</h1>

<p>Once i was seven years old mama told me go make your self friends or youll be lonely</p> -->

      <!-- <button>BUTTON</button> -->

      <div></div>

      <div class="div1">
        <label for="name">USERNAME</label>
        <input type="text" id="username" />
      </div>

      <div class="div2">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" />

        <a href="##">forgot password</a>
      </div>
    </section>

    <!-- TRANSITION -->
    <!-- <div class="Medium">   


  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>


    </div>  -->
  </body>
  <script>
    console.log("jkl is devloping rn");
    console.log("Hello world");
  </script>
</html>
