

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-image: url(https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?cs=srgb&dl=pexels-simon73-1183099.jpg&fm=jpg);
background-repeat: no-repeat;
background-size: cover;
}
.parent{
    background: rgba(141, 130, 130, 0.4) ;
height: 70vh;
width: 40vw;
border: 2px solid black;
border-radius: 30px;
margin: auto;
margin-top: 100px;
text-align: center;
padding-top: 50px;
}


h1{
    font-size: 3rem;
    font-family: "Gill Sans", sans-serif;
    margin-bottom: 30px;
    color: rgb(255, 251, 251);

}
.parent.input-box{
width: 90%;
height: 10px;
background: rgb(223, 222, 223);
margin:30px 0;

}

.input-box input{
    width: 90%;
    height: 100%;
    background:rgba(246, 243, 243, 0.4) ;
    border: none;
    outline: none;
    border :2px solid rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 20px;
    color: rgb(15, 14, 14);
padding: 20px 50px 20px 20px;
margin-bottom: 30px;
}

.input-box input::placeholder{
    color:black;
   
}

.input-box i{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(-50%);
    font-size: 25px;
}



.parent.div3{

    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: -15px 0 15px;
   
}



.btn{

    height: 50px;
    width: 200px;
    font-family:"Gill Sans", sans-serif ;
    font-size: 2rem;
    padding:auto;
    border: 2px solid black;
    background:rgba(26, 24, 24, 0.5);
   color: white;
    border-radius: 25px;
}
.btn:hover{
    background:rgba(121, 111, 111, 0.5);
    color: rgb(7, 7, 7);
}
.remo{
    margin-bottom: 20px;

.rem{
   color:rgb(255, 255, 255);
   font-size: large;
   font-family: "Gill Sans", sans-serif,bold;
   padding: 10px;
   margin-right: 300px;
}
}
a{
    color:white;
    font-size: large;
    font-family: "Gill Sans", sans-serif,bold;

}

.create{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}



